#root
  font-family: helvetica
  margin: 0px auto
  overflow: hidden
  width: 640px

header
  margin: 50px 0

header input
  border: 1px solid #000
  font-size: 30px
  padding: 4px 8px
  width: 490px

header button
  border: 1px solid #000
  font-size: 30px
  margin-left: 20px
  padding: 4px 8px

.check
  height: 260px
  float: left
  margin-right: 20px
  width: 200px

.check.pending
  background-color: #fff766

.check.passed
  background-color: green

.check.failed
  background-color: red

.checks > .check:last-child
  margin-right: 0px

.check h1
  border-bottom: 1px solid #000
  font-size: 20px
  text-align: center
